@import-normalize;
@import "helper.scss";
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: $font-hei;
  line-height: 1.2;
  font-size: 16px;
  background-color: #f4f4f4;
}
button {
  font-family: inherit;
}
:focus{
  outline: none;
}
.icon {
  height: 1em;
  width: 1em;
}
